<p-table
    *ngIf="tableData"
    #dtable
    [value]="tableData"
    [rows]="10"
    [showCurrentPageReport]="true"
    [paginator]="true"
    [columns]="columns"
    dataKey="id"
  >

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th [pSortableColumn]="col.field" *ngFor="let col of columns">
          {{ col.name }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [routerLink]="['details/' + rowData._id]">
        <td *ngFor="let col of columns; let i = index">
            {{ rowData[col.field] }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">{{ 'smartTable.noData' }}</td>
      </tr>
    </ng-template>
  </p-table>
