:host{
    ::ng-deep{
        p-table .p-element.p-datatable-tbody tr {
            &.red{
                animation: blinkingBackgroundRed 0.5 linear;
            }
            &.green{
                animation: blinkingBackgroundGreen 0.5s linear;
            }
        }
    }
}

@keyframes blinkingBackgroundGreen{
    100%		{ background-color: #10c018; color: white;}
}

@keyframes blinkingBackgroundRed{
    100%		{ background-color: red; color: white;}
}