:host{
    ::ng-deep{
        p-table {
            .p-datatable{
                font-size: 0.85rem;
                .p-element.p-datatable-tbody tr {
                    &.red{
                        animation: blinkingBackgroundRed 0.5 linear;
                    }
                    &.green{
                        animation: blinkingBackgroundGreen 0.5s linear;
                    }
                    td{
                        padding: 0.6rem;
                    }
                }
            }
            
        } 
    }
}

@keyframes blinkingBackgroundGreen{
    100%		{ background-color: #10c018; color: white;}
}

@keyframes blinkingBackgroundRed{
    100%		{ background-color: red; color: white;}
}