<p-table *ngIf="tableData" #dtable [value]="tableData" [rows]="15" [showCurrentPageReport]="true" [paginator]="true"
  [columns]="columns" dataKey="id">

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th [pSortableColumn]="col.field" *ngFor="let col of columns" [ngClass]="{'text-right': col.type === 'balance'}">
        {{ col.name }}
        <p-sortIcon [field]="col.field" *ngIf="isSortOptionActive"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
    <tr [routerLink]="['details/' + rowData._id]" *ngIf="!details"
      [ngClass]="{'red': colorFlasherRow(rowData.details) === 'red', 'green': colorFlasherRow(rowData.details) === 'green'  }">
      <td *ngFor="let col of columns; let i = index">
        <ng-container [ngSwitch]="col?.type">
          <div class="d-block text-right" *ngSwitchCase="'balance'">
            <div><span>{{(rowData.details[rowData.details?.length - 1]?.balance | number: '0.0-8' )}} BTC</span></div>
            <div>
              <span *ngIf="exchangeRate">
                {{ exchangeRateApplied(rowData.details[rowData.details?.length - 1]?.availableBalance) | currency: '$'
                }}
              </span>
            </div>
          </div>
          <div *ngSwitchCase="'regular'">
            {{ rowData[col.field] }}
          </div>
          <div *ngSwitchCase="'date'">
            {{ formatDate(rowData[col.field]) }}
          </div>
        </ng-container>
      </td>
    </tr>

    <tr *ngIf="details" [ngClass]="{'red': colorFlasherRowDetail(i) === 'red', 'green': colorFlasherRowDetail(i) === 'green'  }">
      <td *ngFor="let col of columns; let i = index">
        <ng-container [ngSwitch]="col?.type">
          <div class="d-block text-right" *ngSwitchCase="'balance'">
            <div><span>{{rowData[col.field] ? (rowData[col.field] | number: '0.0-8') + ' BTC' : null }}</span></div>
            <div>
              <span *ngIf="exchangeRate">
                {{ exchangeRateApplied(rowData[col.field]) | currency: '$'
                }}
              </span>
            </div>
          </div>
          <div *ngSwitchCase="'regular'">
            {{ rowData[col.field] }}
          </div>
          <div *ngSwitchCase="'date'">
            {{ formatDate(rowData[col.field]) }}
          </div>
        </ng-container>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">No Data</td>
    </tr>
  </ng-template>
</p-table>